<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=" UTF-8">
    <!-- <meta name="viewport" content="whidth=device-width, initial-scale=1.0"> -->
    <title>LOGIN Y REGISTRO- MINEX</title>
    <link rel="stylesheet" href="static/css/estilos.css">

</head>

<body>
    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja_trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia Sesión Para Entrar a la Pagina </p>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>
                <div class="caja_trasera-Register">
                    <h3>¿Aún no tienes cuenta?</h3>
                    <p> Regístrate para que puedas iniciar sesión </p>
                    <button id="btn__Registrarse">Registrarse</button>
                </div>
            </div>
            <!--formulario de login y registro-->
            <div class="contenedor__login-register">
                <!--login-->
                <form action="" class="formulario__login">
                    <h2>Iniciar Sesión</h2>
                    <input type="text" placeholder="Correo Electronico" class="color_fondo">
                    <input type="password" placeholder="Contraseña">
                    <button>Entrar</button>
                </form>
                <!--registro-->
                <form action="" class="formulario__register">
                    <h2>Registrarse</h2>
                    <input type="text" placeholder="Nombre Completo">
                    <input type="text" placeholder="Correo Electronico">
                    <input type="text" placeholder="Usuario">
                    <input type="password" placeholder="Contraseña">
                    <Button>Registrarse</Button>
                </form>
            </div>


        </div>

    </main>
    <script src="static/js/script.js"></script>
</body>

</html>